*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    vertical-align: top;
}

html, body{
    width: 100%;
    height: auto;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.name__info{
    width: 100%;
    height: 20px;
    border-bottom: 1px solid black;
}


.title__cart{
    width: 30px;
    height: 20px;
    display: block;
    float: left;
    margin-left: 100px;
}

.title__cart--modify{
    margin-right: 190px;
    margin-left: 85px;
}

.clear{
    clear: both;
}

.product{
    width: 100%;
    height: 100px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid black;
}


.product__img{
    width: 50px;
    height: 50px;
    margin-top: 10px;
   
}

.product__name{
    width: auto;
    height: auto;
    display: block;
}

.formulario__address{
    width: 40%;
}

.formulario__address input{
    display: block;
    width: 90%;
    height: 25px;
    
}

.formulario__contact{
 
    display: block;
    width: 50%;
    height: 25px;
    margin-left: 4px;
}